@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

/* COMMON CSS START*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --blue_color: #4a38e79c;
  --blue_dark_color: #4938e7f5;
  --white_color: #ffffff;
  --black_font_color: #181818;
  --gray_font_color: #5d5d5d;
  --footer_background_color: #5956e8;
  --roboto: "Roboto", sans-serif;

  --header_font_size: 40px;
  --header_font_weight: 700;
  --paragraph_font_size: 16px;
  --paragraph_font_weight: 400;
}

body {
  font-family: var(--roboto);
}

/* SERVICE CSS START */
#servicePart {
  padding: 100px 0;
  background-color: var(--white_color);
}

.serviceTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceTop__title {
  font-size: var(--header_font_size);
  font-weight: var(--header_font_weight);
  color: var(--black_font_color);
}

.serviceTop__summary {
  width: 542px;
  font-size: var(--paragraph_font_size);
  font-weight: var(--paragraph_font_weight);
  color: var(--black_font_color);
  line-height: 27px;
  opacity: 0.5;
  text-align-last: center;
}

.serviceBottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.serviceItems {
  width: 375px;
  height: 385px;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 48px;
  row-gap: 25px;
  transition: ease 0.3s;
}

.serviceItems:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.serviceItems__icon {
  font-size: 25px;
  width: 71px;
  height: 71px;
  color: var(--blue_color);
  border: 1px solid var(--blue_color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
}

.serviceItems:hover .serviceItems__icon {
  color: var(--white_color);
  background-color: var(--blue_color);
}

.serviceItems--icon {
  background-color: var(--blue_color);
}

.serviceItems__title {
  font-size: 25px;
  font-weight: var(--header_font_weight);
  color: var(--black_font_color);
}

.serviceItems__summary {
  width: 274px;
  font-size: var(--paragraph_font_size);
  font-weight: var(--paragraph_font_weight);
  color: var(--gray_font_color);
  line-height: 26px;
}
/* SERVICE CSS END */

/* ============================================ */

/* PORTFOLIO CSS START */
#portfolioPart {
  padding: 100px 0;
  background-color: var(--white_color);
}

.portfolioBottomWrapper {
  margin-top: 109px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  cursor: pointer;
}

.portfolioBottomItems {
  width: 270px;
  height: 319px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.portfolioBottomItems:hover .overlay {
  top: 75%;
}

.overlay {
  position: absolute;
  left: 7%;
  top: -50%;
  transform: translateY(-50%);
  transition: ease-in-out 0.4s;
  cursor: pointer;
  width: 230px;
  padding: 25px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: var(--blue_dark_color);
}

.overlay__title {
  color: var(--white_color);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.overlay__details {
  color: var(--white_color);
  font-size: var(--paragraph_font_size);
  font-weight: var(--paragraph_font_weight);
  line-height: 27px;
  color: var(--white_color);
  display: flex;
  align-items: center;
  column-gap: 8px;
}
/* PORTFOLIO CSS END */
